* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
html,
body {
  background-color: #fffde4;
  font: 12px Arial;
  color: #bb9d59;
}
a {
  color: #943415;
}
a:hover {
  text-decoration: none;
}
.g-button {
  background: url(../images/button.png) no-repeat right -20px;
  padding-right: 5px;
  float: left;
}
.g-button-in {
  background: url(../images/button.png) no-repeat top left;
  height: 20px;
  padding: 0 0 3px 5px;
  font-size: 11px;
  color: #943415;
  text-align: center;
}
.g-sidebar-header {
  font: 24px Georgia;
  color: #0b636b;
}
.g-nobg {
  background: none !important;
}
.l-top {
  background: url(../images/top_back.png) repeat-x;
}
.l-top .h-top {
  height: 450px;
  background: url(../images/top_bird.jpg) no-repeat top left;
  min-width: 1000px;
  max-width: 1200px;
  position: relative;
}
.b-menu {
  list-style: none;
  font-weight: bold;
}
.b-menu-item {
  float: left;
  height: 18px;
  padding: 2px 8px 0px 8px;
  background: url(../images/top_active_menu.png) no-repeat 0px -36px;
}
.b-menu-item:first-child {
  background: none;
}
.b-menu-item-link {
  color: #45ada9;
  text-decoration: none;
}
.b-menu-item:hover {
  background-position: 0px -18px;
}
.b-menu-item.active:first-child,
.b-menu-item:first-child:hover {
  padding-left: 7px;
  background: url(../images/top_active_menu.png) no-repeat -1px -18px !important;
}
.b-menu-top {
  position: absolute;
  top: 32px;
  right: 20px;
}
.b-menu-top .b-menu-item.active .b-menu-item-link,
.b-menu-top .b-menu-item:hover .b-menu-item-link {
  color: #943415;
  display: block;
  height: 16px;
  background: url(../images/top_active_menu.png) no-repeat right 0px;
  padding: 2px 6px 0 0;
}
.b-menu-top .b-menu-item.active,
.b-menu-top .b-menu-item:hover {
  padding-top: 0px;
  padding-right: 2px;
  background: url(../images/top_active_menu.png) no-repeat 0px -18px;
}
.b-logo {
  width: 220px;
  height: 44px;
  text-indent: -2000px;
  background: url(../images/logo.png) no-repeat;
  position: absolute;
  top: 75px;
  right: 208px;
}
.b-auth {
  position: absolute;
  top: 152px;
  right: 16px;
}
.b-auth-name {
  font: 27px Georgia;
  color: #497f35;
  padding-bottom: 11px;
}
.b-auth-label {
  display: inline;
}
.b-auth-input {
  width: 161px;
  height: 20px;
  padding: 0 10px;
  margin-right: 25px;
  color: #bb9d59;
  font-size: 10px;
  background-color: #f9f6d4;
}
.b-auth-regsub {
  color: #ab8e4e;
  font-size: 16px;
  padding-top: 16px;
}
.b-auth-regsub-submit {
  float: none;
  padding-bottom: 5px;
  padding-left: 16px;
  position: relative;
  top: -2px;
}
.b-auth-reg {
  color: #943415;
  text-decoration: none;
}
.b-auth-reg:hover {
  text-decoration: underline;
}
.b-auth-submit {
  width: 60px;
}
.b-slogan {
  font: 28px Georgia;
  color: #497f35;
  padding: 0 90px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.l-content {
  padding: 41px 35px 32px 35px;
  min-width: 930px;
  max-width: 1130px;
}
.h-sidebar {
  float: right;
  background: url(../images/sidebar_back.png) repeat-y top center;
}
.h-sidebar-top {
  background: url(../images/sidebar_top.png) no-repeat top center;
}
.h-sidebar-bottom {
  background: url(../images/sidebar_bottom.png) no-repeat bottom center;
  width: 262px;
  min-height: 350px;
  padding-left: 36px;
}
.b-photo-header {
  padding-bottom: 15px;
}
.b-photo-list {
  list-style: none;
  padding-bottom: 10px;
}
.b-photo-list-item {
  padding-bottom: 16px;
}
.b-photo-list-item-href {
  display: block;
  background: url(../images/zoom.png) no-repeat 200px 80px;
  text-align: right;
  font: 11px Arial;
  font-weight: bold;
  text-decoration: none;
}
.b-photo-list-item-href:hover {
  text-decoration: underline;
}
.b-photo-list-item-image {
  display: block;
  border: 3px solid #d3cfa3;
  margin-bottom: 7px;
}
.b-qcontact {
  padding-bottom: 42px;
}
.b-qcontact-header {
  padding-bottom: 9px;
}
.b-qcontact-field {
  font-weight: bold;
  text-align: right;
  line-height: 32px;
}
.b-qcontact-field-name {
  float: left;
}
.b-qcontact-field-input {
  width: 216px;
  height: 18px;
  border: 1px solid #e8e6c8;
  background-color: #f8f5d2;
  font-size: 10px;
  color: #000;
  text-indent: 5px;
}
.b-qcontact-button {
  width: 88px;
}
.b-qcontact-buttons {
  padding-top: 10px;
  padding-left: 37px;
}
.b-qcontact-fiebut {
  padding-left: 8px;
  background-position: right -22px;
}
.b-projects-header {
  padding-bottom: 8px;
}
.b-projects-list-item {
  list-style: none;
  padding: 4px 0;
  background: url(../images/list-item.gif) repeat-x top left;
}
.b-projects-list-item:first-child {
  background: none;
}
.b-projects-list-link {
  text-decoration: none;
  padding-left: 10px;
  background: url(../images/arrow.png) no-repeat 0px 5px;
}
.b-projects-list-item.active .b-projects-list-link,
.b-projects-list-item .b-projects-list-link:hover {
  color: #943415;
  font-weight: bold;
}
.h-content {
  margin-right: 335px;
}
.b-article {
  padding-bottom: 35px;
}
.b-article-h1 {
  font: 30px Georgia;
  color: #0b636b;
  padding-bottom: 8px;
}
.b-article-h2 {
  font: 18px Georgia;
  color: #943415;
}
.b-article-text {
  line-height: 16px;
}
.b-article-date-more {
  background-color: #f9f6d4;
  height: 29px;
  margin-top: 38px;
}
.b-article-date {
  float: left;
  font-size: 11px;
  font-weight: bold;
  background: url(../images/icon_cal.png) no-repeat 10px 6px;
  padding: 9px 0 3px 34px;
}
.b-article-more {
  float: left;
  background: url(../images/date_separator.gif) no-repeat 10px 8px;
  padding: 8px 0 3px 21px;
}
.b-article-more-link {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  background: url(../images/icon_pen.png) no-repeat 0px 0px;
  padding: 2px 0 5px 27px;
}
.b-article-more-link:hover {
  text-decoration: underline;
}
.b-services {
  padding-bottom: 50px;
}
.b-services-header {
  font: 24px Georgia;
  color: #2c787b;
  margin-bottom: 30px;
}
.b-frame {
  width: 194px;
  height: 211px;
  background: url(../images/frame.png) no-repeat;
  float: left;
  margin: -20px 20px 0 0;
  display: table-cell;
}
.b-frame-link {
  font-size: 10px;
  display: block;
  padding: 44px 30px 0 33px;
}
.b-frame-link-img {
  display: block;
  padding-bottom: 8px;
}
.b-services-text {
  display: table-cell;
}
.b-dlist {
  padding: 18px 0;
}
.b-dlist-item {
  font: 18px Georgia;
  color: #5c4527;
}
.b-dlist-desc {
  background: url(../images/list-item.gif) repeat-x left 1px;
  padding-top: 6px;
  padding-bottom: 4px;
}
.b-dlist-desc-link {
  font-weight: bold;
  font-size: 11px;
  background: url(../images/zoom.png) no-repeat 0 2px;
  padding: 0 0 0 18px;
  text-decoration: none;
}
.b-dlist-desc-link:hover {
  text-decoration: underline;
}
.b-blockquote {
  clear: left;
}
.b-blockquote-header {
  font: 24px Georgia;
  color: #2c787b;
}
.b-blockquote-author {
  background: url(../images/icon_pen.png) no-repeat 0 15px;
  padding: 15px 0 18px 25px;
}
.b-blockquote-author-link {
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}
.b-blockquote-author-link:hover {
  text-decoration: underline;
}
blockquote {
  text-indent: 21px;
  background: url(../images/quotes.png) no-repeat 0 15px;
  padding-top: 15px;
}
.l-footer {
  clear: both;
  height: 102px;
  padding-top: 33px;
  text-align: center;
  background: url(../images/footer_line.png) no-repeat top center;
  min-width: 1000px;
  max-width: 1200px;
  position: relative;
  font-size: 11px;
}
.b-menu-footer .b-menu-item {
  float: none;
  display: inline;
  background: url(../images/bottom_menu_separator.png) no-repeat 0px 3px;
  padding-right: 4px;
}
.b-menu-footer .b-menu-item-link,
.b-menu-footer .b-menu-item.active .b-menu-item-link {
  color: #943415;
  text-decoration: none;
}
.b-menu-footer .b-menu-item-link:hover {
  text-decoration: underline;
}
.b-copyright {
  padding: 4px 0;
}
.b-designby {
  font-weight: bold;
  padding-bottom: 7px;
}
.b-designby-link {
  text-decoration: none;
}
.b-valid {
  width: 142px;
  margin: 0 auto;
}
.b-valid-field {
  padding-left: 5px;
}
.b-valid-link {
  display: block;
  text-decoration: none;
  padding-top: 5px;
  background-position: left 2px;
  width: 56px;
}
